@charset "UTF-8";

.comment_Inq {
	margin-bottom : 25px;
}

.comment_Inq .cwriter {
    width: 100px;
    padding-right : 40px;
}
.csub {
    width: 300px;
    overflow: hidden;
    text-overflow:ellipsis;
}

.cdate{
    width: 120px;
    position: absolute;
    right : 0;
}


#commentInput {
	width:680px;
	height:50px;
	display: inline-block;
	margin-right : 15px;
} 

#commentSubmit{
	padding: 15px;
	height: 50px;
	background-color : #6e8c03;
	border : none;
	outline : none;
	cursor : pointer;
	color : #fff;
	border-radius: 12px;
} 
#commentModify{
	display: none;
	padding: 15px;
	height: 50px;
	background-color : #6e8c03;
	border : none;
	outline : none;
	cursor : pointer;
	color : #fff;
	border-radius: 12px;
}
.commentBtn {
	position: absolute;
	right : 0;
}
.cbtn{
	outline : none;
	background : none;
	border : none;
	cursor : pointer;
}