@charset "UTF-8";

#footer {
    clear: both;
    padding-top: 20px;
    <!-- add -->
    position: absolute;
    bottom: 0;
    height: 230px;
}

.foot {
    float: left;  
    margin-left: 20px; 
    padding-top: 10px;
}

#company{
    clear: both;
    padding-top: 10px;
}