@charset "UTF-8";


#section{
	padding-top : 100px;
}

#monthlyRecipe, #bestRecipe, #kingdomRecipe{
    height: 500px;
}

#monthlyRecipe .mR{
    float: left;
    
}
.mR, .bR, .cR {
    display: inline-block;
    margin-left: 5%;
}
#bestRecipe {
    clear: both;
}
#bestRecipe li {
    float: left;
}
#monthlyRecipe h1, #bestRecipe h1, #kingdomRecipe h1 {
    font-size: 26px;
    padding: 10px 0;
    text-align: center;
}

#banner{
    padding: 40px 0;
    clear: both;
}

#kingdomRecipe li{
    float: left;
}


* {box-sizing: border-box;}
.mySlides {display: none;}
img {vertical-align: middle;}
/* Slideshow container */
.slideshow-container {
  max-width: 1440px;
  position: relative;
  margin: auto;
}