@charset "UTF-8";

.order_wrap {
	clear: both;
}

.order_content {
	position: relative;
	width: 1200px;
	padding: 1px 40px 45px 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.order_side {
	position: relative;
	top: 0;
	left: 83%;
}

.sticky-bar {
	position: fixed;
	top: 63%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.paybill {
	display: block;
	width: 245px;
	height: 200px;
	background-color: #f2f2f2;
}

.paybill table {
	border-spacing: 15px;
}

.paybill th {
	text-align: left;
	width: 130px;
}

.paybill_right {
	text-align: right;

}

.paybill_total {
	line-height: 70px;
}

.paybill_total_price{
	line-height: 70px;
	font-size:20px;
	text-align: right;
}

.payBtn {
	width: 100px;
	background-color:  #6E8C03;
	color: white;
	padding: 9px 0px;
	width: 245px;
	font-size: 17px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

.order_content hr {
	margin: 20px 0px;
}

.order_content hr#bhr {
	background-color: #f2f2f2;
	height: 5px;
}

.order_head1 {
	clear: both;
	display: flex;
	justify-content: center;
	padding: 100px;
}

#order_head2 strong {
	padding: 20px 30px;
}

.order_content table {
	border-spacing: 40px;
}

.order_content th, td {
	text-align: left;
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"]+label span {
	display: inline-block;
	width: 24px;
	height: 24px;
	margin: -2px 10px 0 0;
	vertical-align: middle;
	background: url("../image/order/checkbox.png") left top no-repeat;
	cursor: pointer;
	background-size: cover;
}

input[type="checkbox"]:checked+label span {
	background: url("../image/order/checkbox.png") -26px top no-repeat;
	background-size: cover;
}

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	background-color: white;
	width: 1100px;
}

.tab button {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 13px 0px;
	width: 550px;
	font-size: 17px;
}

.tab button.active {
	background-color: #6E8C03;
	color: white;
}

.tabcontent {
	display: none;
	padding: 6px 12px;
	border-top: none;
}

p {
	line-height: 3;
}

select {
	width: 150%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 2px solid #f2f2f2;
	border-radius: 4px;
	box-sizing: border-box;
	font-family: "NanumB";
	font-size: 17px;
}