@charset "UTF-8";

.recipeRegester {
  margin-top: 100px;
}

.recipeRegester_title {
  display: flex;
  justify-content: center;
  border-bottom: 2px solid #6e8c03;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.recipeRegester_table {
  width: 700px;
}

.recipeRegester_table > tbody th {
  width: 130px;
  padding: 20px 0 20px 0;
}

.regesterBtn {
  display: block;
  background-color: #6e8c03;
  color: white;
  padding: 9px 0px;
  width: 230px;
  font-size: 17px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin: 0 auto;
}
