@charset "UTF-8";

body {
  height: 100vh;
  font-size: 12px;
}

#open_button {
  background: transparent;
  outline: none;
  border: none;
  cursor: pointer;
}

.recipeListInquery_type_cag {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  margin: auto;

  border: 1px solid rgba(0, 0, 0, 0.3);
  height: 157px;
  width: 800px;
  padding: 10px;
}

.recipeListInquery_type_cag ul {
  clear: both;
  padding: 0px;
  margin-top: 10px;
}

.recipeListInquery_type_cag ul:first-child {
  margin: 0px;
}

.recipeListInquery_type_cag ul li {
  float: left;
  list-style: none;
  padding: 5px;
}

.recipeListInquery_type_cag ul li a {
  text-decoration: none;
  padding: 5px;
  color: black;
  border-radius: 10px;
}

.recipeListInquery_type_cag ul li a:hover {
  background: #628c03;
  color: white;
}

.recipeListInquery_type_cag li:nth-of-type(1) {
  color: #628c03;
}
