@charset "UTF-8";

#info {
	text-align: left;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 1px;
}

.input {
	width: 300px;
	height: 20px;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;
}

#index {
	margin-bottom: 15px;
	display: inline-block;
	text-align: center;
	width: 308px;
}

#btn {
	width: 100px;
	height: 50px;
	margin: 0;
	border-radius: 10px;
	background-color: #6e8c03;
	color: white;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;
}

#check {
	border-radius: 10px;
	height: 26px;
	width: 70px;
	background-color: #6e8c03;
	color: white;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;
}

#email {
	width: 224px;
	height: 20px;
}

#nickName {
	width: 224px;
	height: 20px;
}

input::placeholder {
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 2px;
}