@charset "UTF-8";

td {
	padding: 20px 40px 20px 40px;
}

#info {
	background-color: #f2f2f2;
	font-size: 7px;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 10px;
}

#input {
	background-color: white;
	width: 150px;
	text-align: left;
	font-size: 13px;
	padding-right: 0;
}

table {
	display: inline-block;
	text-align: center;
	margin-bottom: 16px;
}

#form {
	text-align: center;
}

#out {
	text-align: center;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;
	width: 100px;
	height: 50px;
	border-radius: 13px;
	background-color: #6e8c03;
	color: white;
}

#email {
	border: none;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;
	text-align: left;
	outline: none;
}

#button {
    background-color: white;
	width: 150px;
	text-align: right;
	font-size: 10px;
}

#tr {
    border: 1px solid #ccc;
}

#btn {
	text-align: center;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 14px;
	width: 100px;
	border-radius: 10px;
	box-shadow: none;
}

.text {
	width: 150px;
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 13px;

}

input::placeholder {
	font-family: "NanumB";
	src: url("../font/NanumBarunpenB.ttf");
	font-size: 2px;
}

body {
	width: 1440px;
	margin: 0 auto;
}

